@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(img/download.jpeg);
    background-size: 100% 100%;
}

nav {
    opacity: 0.9;
}

.navbar-brand {
    font-size: 60px !important ;
    font-family: Arial, Helvetica, sans-serif !important;
    color: #ff0000 !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}



.nav-item {
    text-align: center !important;
    font-size: 30px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.nav-link {
    color: #ff0000 !important;
    font-family: Arial, Helvetica, sans-serif;
}

.navtrasition {
    transition: 0.7s !important;
}

ul a:hover {
    color: #a29c9b   !important;
    transition: 0.5s;
}


section {
    width: 100%;
    min-height: 90vh;
}


.tex1 h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 70px;
    display: flex;
    justify-content: center;
    font-size: 95px;
    color: #bf0603;
    text-shadow: black 0.1em 0.1em 0.2em;
}

i.icon {
    font-size: 65px;
    color: white;

}

.imagem1 {
    width: 700px !important;
    height: 700px !important;
    margin: px;
    border-radius: 70px !important;
    object-fit: !important;
    object-position: center !important;

}

.cardani {
    background: #8d0801 !important;
    color: #ffff !important;
    box-shadow: black 0.1em 0.1em 0.6em;
}

.card-text {
    color: white;
}

.ptext {
    color: white;
    font-size: 25px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.potfi {
    color: white;
    font-size: 40px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.ptext2 {
    color: white;
    font-size: 25px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.htext {
    color: #bf0603;
    font-size: 70px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.imagem1 {
    border-radius: 3px solid red !important;
}


.hover div img {
	-webkit-filter: blur(5px) !important;
	filter: blur(9px) !important;
	-webkit-transition: .2s ease-in-out !important;
	transition: .4s ease-in-out !important;
}
.hover div:hover img {
	-webkit-filter: blur(0) !important;
	filter: blur(0) !important;
}


 .cardani {
    top: 0px;
    background-color: #f2f8f9;
    border-radius: 6px;
    margin: 18px !important ;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 0px solid #f2f8f9;

    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 2px 7px 9px rgba(38, 38, 38, 0.2);
      border: 2px solid #cccccc;
      background-color: white;
    }
  
    &:hover:before {
      transform: scale(3.15);
    }
}

.projtext h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 70px;
    display: flex;
    justify-content: center;
    font-size: 95px;
    color: #bf0603;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.cardcs  {
    background-color: #3b383a !important ;
    margin-top: 40px !important;
}

.title {
    color: white !important;
    font-size: 40px !important;
}

footer {
    height: 80px;
    display: flex;
    margin-top: 100px;
    align-items: end;
    background-color: #8d0801;
}

.icons {
    font-size: 50px;
    color: white;
    margin: 10px;
}

.linkd:hover {
    color: #0e76a8;
    transition: all 0.2s;
}

.git:hover {
    color: black;
    transition: all 0.2s;
}

.what:hover {
    color: green;
    transition: all 0.2s;
}

.insta:hover {
    color: #c13584;
    transition: all 0.2s;
}